@import "tailwindcss";

@font-face {
  font-family: "dataidea-sans";
  src: url("/src/assets/fonts/DATAIDEA-Sans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "dataidea-sans", sans-serif;
}
